$lightGold:#FECD45;
$lightBlue:#2568FB;

.app {
    display: flex;
    justify-content: center;
    .container{
        width: 1024px;
        //Navbar
        nav{
            .container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;
                .logo{
                    font-size: 2rem;
                    font-weight: 700;
                }
                .link{
                    text-decoration: none;
                    color: #000;
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    h4{
                        font-size: 1rem;
                        font-style: 400;
                    }

                    span{
                        cursor: pointer;
                    }
                }

            }
        }
        //FOOTER
        footer{
            border-top: 1px solid $lightBlue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: 2rem;
                color: #000;
            }
        }
        //HOME
        .home{
            a{
                text-decoration: none;
            }
            .posts{
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 40px;
            }
            .post{
                display: flex;
                gap: 2rem;

                &:nth-child(2n+1){
                    flex-direction: row-reverse;
                }
                .img{
                    flex: 1;
                    position: relative;

                    &::after{
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $lightBlue;
                        position: absolute;
                        top: 20px;
                        left: -20px;
                        z-index: -1;

                    }
                }
                img{
                    width: 100%;
                    max-height:220px;
                    object-fit: cover;
                }
                .content{
                    flex: 2;

                    h1{
                        font-size: 2rem;
                        color: black;
                    }

                    button{
                        padding: .5rem;
                        background-color: $lightBlue;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }


        //LOGIN & REGISTER
        .auth{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $lightGold;

            h1{
                color: #fff;
                font-size: 2.4rem;
                margin-bottom: 1rem;
            }

            p{
                color: #ff0000;
                font-size: .8rem;
                text-align: center;
            }

            form{
                width: 200px;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                padding: 1rem;
                background-color: #fff;

                input{
                    padding: 1rem;
                    border: none;
                    border-bottom: 1px solid #000;
                }

                button{
                    padding: .4rem;
                    border: none;
                    background-color: $lightBlue;
                    color: #fff;
                    font-size: 1rem;
                    cursor: pointer;
                }
                span{
                    font-size: .8rem;
                }

            };
        }

    }
}